---
layout: base
pageClass: posts
bodyClass: single-post
---

<header>
  <div class="c-post-meta">
    <h1 class="post-title">{{ title }}</h1>
    <dl class="c-entry__meta">
      <dt class="u-hidden-visually">Geplaatst op</dt>
      <dd><time class="c-entry__date" datetime="{{ date | isoDate }}">{{ date | readableDate }}</time></dd>
      <dt class="u-hidden-visually">Tags</dt>
      <dd>
        <div class="c-entry__tags">
          {% for tag in tags %}
            {%- if (tag != "posts") and (tag != "links") -%}
              {% set tagUrl %}/tags/{{ tag }}/{% endset %}
              <a class="c-tag" href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
            {%- endif -%}
          {% endfor %}
        </div>
      </dd>
    </dl>
  </div>
</header>

<main class="post-content" role="main">
  {{ content | safe }}
</main>
