---
layout: base
permalink: /tags/
title: Tags
---

{% for tag in collections.tagList %}
  {% set tagUrl %}/tags/{{ tag }}/{% endset %}
  <a class="c-tag" href="{{ tagUrl | url }}" rel="tag">{{ tag }} ({{ collections[tag].length }})</a>
{% endfor %}
