.mt-l-2xl {
	margin-top: var(--space-l-2xl);
}

.text-step--1 {
	font-size: var(--step--1);
}

.text-smaller {
	font-size: clamp(1rem, 0.929rem + 0.36vw, 1.25rem); /* 16px -> 20px */
}

.region {
	padding-block: var(--region-space, var(--space-l-2xl));
}
