---
layout: base
permalink: about/
title: Over Mike
navTitle: Over Mike
navOrder: 1
tags: nav
---

<div class="post-content">

  <img class="c-headshot" src="{{ author.avatar | url }}" alt="Mike Schenkel">
  <p>Hallo! Mijn naam is Mike Schenkel. Ik maak websites voor ondernemers, ontwerpers en liefdevolle bedrijven.</p>

  <p>Het web een beetje beter maken, dat is mijn passie. Mijn stijl is gericht op eenvoud. Ik geloof dat een goed ontwerp vanuit de inhoud moet ontstaan, niet andersom. Het gaat mij er niet alleen om dat een website er mooi uitziet, maar ook onder de motorkap goed functioneert.</p>

  <blockquote><p>“Een website draait bij mij niet alleen om het uiterlijk, maar ook om het innerlijk.“</p></blockquote>

  <p>Bekijk ook mijn <a href="{{ "/now" | url }}">now pagina</a> en <a href="{{ "/uses" | url }}">uses pagina</a> om te lezen waar ik op dit moment mee bezig ben en wat mijn favoriete apps zijn.</p>

  <p><a href="mailto:{{ author.email | obfuscate | safe }}" rel="me">Stuur mij een email</a></p>

</div>
