---
layout: base
permalink: now/
title: Now
navTitle: Now
navOrder: 2
tags: nav
updated: 2019-07-06
---

<div class="post-content">

  <p>Dit is mijn <a href="https://nownownow.com/about">now pagina</a>, geïnspireerd door Derek Sivers.</p>

  <h2 id="momenteel-aan-het-leren">Momenteel aan het leren</h2>
  <ul>
    <li>Websites maken met <a href="https://www.11ty.io/">11ty</a> als static site generator</li>
    <li><a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout">CSS Grid Layout</a></li>
    <li><a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties">CSS custom properties</a></li>
  </ul>

  <h2 id="momenteel-aan-het-lezen">Momenteel aan het lezen</h2>
  <ul>
    <li>The Subtle Art of Not Giving a Fuck van Mark Manson</li>
    <li>The Daily Stoic: 366 Meditations for Clarity, Effectiveness, and Serenity van Ryan Holiday</li>
    <li>Daily Rituals: How Artists Work van Mason Currey</li>
  </ul>

  <hr>

  <div class="c-note">
    <span class="c-note__label">Laatste update:</span> <time datetime="{{ updated | isoDate }}">{{ updated | readableDate }}</time>
  </div>

</div>
