---
layout: base
permalink: uses/
title: Uses
updated: 2019-04-09
---

<main class="post-content" role="main">

  <p>Dit is mijn <a href="https://github.com/wesbos/awesome-uses">uses pagina</a>. Een overzicht van mijn favoriete software en hardware voor dagelijks gebruik.</p>

  <h2 id="editor">Editor</h2>
  <ul>
    <li>Ik switch constant tussen <a href="https://code.visualstudio.com/">Visual Studio Code</a> en <a href="https://neovim.io/">NeoVim</a></li>
    <li><a href="https://marketplace.visualstudio.com/itemdetails?itemName=sdras.night-owl&WT.mc_id=twitter-social-sdras">Night Owl</a> als thema voor Visual Studio Code</li>
    <li><a href="https://atelierbram.github.io/syntax-highlighting/atelier-schemes/forest/">Base16 Atelier Forest</a> als thema voor mijn terminal, Vim, Tmux en Alfred</a></li>
  </ul>

  <h2 id="apps">Apps</h2>
  <p>Bekijk ook <a href="https://mikeschenkel.nl/dotfiles">mijn dotfiles</a> voor alle apps en utilities die automatisch geïnstalleerd worden. Hier wat highlights:</p>
  <ul>
    <li><a href="https://iterm2.com/">iTerm 2</a></li>
    <li><a href="https://www.mozilla.org/firefox/">Firefox</a></li>
    <li><a href="https://flexibits.com/fantastical">Fantastical</a></li>
    <li><a href="https://www.alfredapp.com/">Alfred</a></li>
    <li><a href="https://www.macbartender.com/">Bartender</a></li>
    <li><a href="https://www.enpass.io/">Enpass</a></li>
    <li><a href="https://culturedcode.com/things/">Things</a></li>
    <li><a href="http://reederapp.com/">Reeder</a></li>
    <li><a href="https://www.notion.so/">Notion</a></li>
  </ul>

  <h2 id="hardware">Hardware</h2>
  <ul>
    <li><a href="https://www.daskeyboard.com/daskeyboard-4-professional-for-mac/">Das Keyboard 4 for Mac</a></li>
    <li>Logitech Performance MX</li>
    <li><a href="https://global.beyerdynamic.com/dt-990-pro.html">beyerdynamic DT 990 PRO</a></li>
  </ul>

  <hr>

  <div class="c-note">
    <span class="c-note__label">Laatste update:</span> <time datetime="{{ updated | isoDate }}">{{ updated | readableDate }}</time>
  </div>

</main>
