.availability {
	display: inline-flex;
	align-items: center;

	&::before {
		display: inline-block;
		width: .75em;
		height: .75em;
		margin-inline-end: 0.35em;
		content: " ";
		background: var(--availability-color, gray);
		border-radius: 50%;
	}

	&[data-availability='unavailable'] {
		--availability-color: red;
	}

	&[data-availability='soon'] {
		--availability-color: orange;
	}

	&[data-availability='available'] {
		--availability-color: green;
	}
}
