.site-logo {
	--logo-color: var(--color-primary);
	--logo-size: clamp(4.688rem, 3.795rem + 4.46vw, 7.813rem); /* 75px -> 125px */
	--outline-color: var(--logo-color);

	inline-size: var(--logo-size);
	block-size: var(--logo-size);

	& svg {
		fill: var(--logo-color);
	}
}
