.site-logo {
	--outline-color: var(--color-primary);
	--_logo-color: var(--logo-color, var(--color-primary));
	--logo-size: var(--space-2xl-3xl);

	inline-size: var(--logo-size);
	block-size: var(--logo-size);
	color: var(--_logo-color);
}
