.site-nav {
	& a {
		font-weight: 700;
		color: var(--nav-link-color, currentColor);
		text-decoration: none;
		border-bottom: 0.15em solid var(--nav-border-color, transparent);

		@media (prefers-reduced-motion: no-preference) {
			transition: outline-offset 0.15s linear, color .15s ease-in-out, border-bottom-color .15s ease-in-out;
		}

		&:hover,
		&[aria-current="page"] {
			--nav-link-color: var(--link-color-hover);
			--nav-border-color: var(--link-color-hover);
		}

		&:focus {
			border-bottom: none;
		}
	}
}

.site-nav__list {
	display: flex;
	flex-wrap: wrap;
	column-gap: var(--gutter);
}
