.skills {
	--wrapper-max-width: 75rem;
	--grid-placement: auto-fit;
	--grid-min-item-size: 10rem;
	--flow-space: 0.5ch;

	font-weight: 600;
	text-align: center;
	color: #373737;

	& svg {
		display: block;
		margin-inline: auto;
		font-size: var(--step-7);
		color: var(--color-dark-glare);
	}
}
