.skill-grid {
	--grid-placement: auto-fit;
	--grid-min-item-size: 10rem;
	--wrapper-max-width: 75rem;

	font-weight: 700;
	text-align: center;

	& svg {
		display: block;
		margin-inline: auto;
		font-size: var(--step-7);
		color: var(--color-dark-glare);
	}
}
