.socials {
	display: flex;
	gap: var(--space-m);
	justify-content: space-between;
	max-inline-size: 50ch;
	padding-inline-start: 0;
	font-family: var(--font-display);
	font-weight: bold;

	& svg {
		color: var(--color-dark-glare);
	}

	& a {
		color: currentColor;

		&:hover {
			color: var(--color-secondary);
			text-decoration-line: underline;
		}
	}
}
