@font-face {
	font-family: 'BespokeSlab-Variable';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/BespokeSlab-Variable.woff2') format('woff2'),
			 url('/fonts/BespokeSlab-Variable.woff') format('woff');
	font-display: fallback;
}

@font-face {
	font-family: 'BespokeSlab-Variable';
	font-style: italic;
	src: url('/fonts/BespokeSlab-Variable-Italic.woff2') format('woff2'),
			 url('/fonts/BespokeSlab-Variable-Italic.woff') format('woff');
	font-display: fallback;
}

@font-face {
	font-family: 'Atkinson-Hyperlegible';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/Atkinson-Hyperlegible-Regular.woff2') format('woff2'),
			 url('/fonts/Atkinson-Hyperlegible-Regular.woff') format('woff');
	font-display: fallback;
}

@font-face {
	font-family: 'Atkinson-Hyperlegible';
	font-style: normal;
	font-weight: 700;
	src: url('/fonts/Atkinson-Hyperlegible-Bold.woff2') format('woff2'),
			 url('/fonts/Atkinson-Hyperlegible-Bold.woff') format('woff');
	font-display: fallback;
}
