/* Global variables */
:root {
	--link-underline-color: var(--link-color);
	--link-underline-thickness: 0.1em;
	--link-underline-offset: 0.1em;

	--outline-width: 3px;
	--outline-style: solid;
	--outline-color: var(--link-color, currentColor);
	--outline-offset: 0.2em;

	--gutter: var(--space-s);
	--flow-space: var(--space-m-l);
	--border-radius: 0.25rem;
	--tracking: -0.025ch;

	--wrapper-max-width: 80rem;
	--wrapper-gutter: var(--space-s);

	--sidebar-gutter: var(--gutter);
	--sidebar-target-width: 20rem;
	--sidebar-content-min-width: 60%;
}
