<ul class="c-listing">
{% for post in postslist | reverse %}

  <li class="c-listing__item{% if post.url == url %} is-active{% endif %}">

    <article class="c-entry">
      <header>
        <h2 class="c-entry__title"><a href="{{ post.url | url }}">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a></h2>
        <dl class="c-entry__meta">
          <dt class="u-hidden-visually">Geplaatst op</dt>
          <dd><time class="c-entry__date" datetime="{{ post.date | isoDate }}">{{ post.date | readableDate }}</time></dd>
          <dt class="u-hidden-visually">Tags</dt>
          <dd>
            <div class="c-entry__tags">
              {% for tag in post.data.tags %}
                {%- if (tag != "posts") and (tag != "links") -%}
                  {% set tagUrl %}/tags/{{ tag }}/{% endset %}
                  <a class="c-tag" href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
                {%- endif -%}
              {% endfor %}
            </div>
          </dd>
        </dl>
      </header>
    </article>

  </li>

{% endfor %}
</ul>
