---
layout: base.njk
permalink: 404.html
---

<div class="wrapper flow">
	<h1>404</h1>
	<p>Mogelijk bestaat deze pagina niet meer of is de URL onjuist. Ga terug naar de <a href="{{ "/" | url }}">homepagina</a> of <a href="" rel="me">stuur mij een email</a>.</p>
	<video autoplay loop muted playsinline><source src="/img/404.mp4" type="video/mp4"></video>
</div>
