---
layout: base.njk
---

<div class="wrapper region">
	<div class="with-sidebar">
		<article class="prose flow">
			<h1>Contact</h1>

			<p>Op dit moment ben ik op zoek naar nieuwe uitdagingen of opdrachten. Ik kan je helpen met het volgende:</p>

			<ul>
				<li>Front-end development en front-end architectuur.</li>
				<li>HTML, CSS en JavaScript ontwikkeling.</li>
				<li>Webtoegankelijkheid (Accessibility).</li>
				<li>Moderne en schaalbare CSS (incl. Sass &amp; PostCSS).</li>
				<li>Web performance.</li>
				<li>Progressive enhancement.</li>
				<li>Webstandaarden, HTML semantiek en CSS architectuur.</li>
				<li>Front-end code analyse en webadvies.</li>
				<li>Code kwaliteitswaarborging.</li>
				<li>Build tools zoals Gulp &amp; NPM scripts.</li>
				<li>Projectstructuur en workflow.</li>
				<li>Werkmethodieken zoals Scrum, Trello, Git en JavaScript linters.</li>
				<li><s>Je printer fixen.</s></li>
			</ul>

			<p>Wil je graag samenwerken of heb je een vraag? Stuur me gerust een bericht en ik probeer hier zo snel mogelijk op terug te komen.</p>

			<div class="cluster">
				<img src="/img/mail.png" alt="" width="64" height="64" loading="lazy">
				<a href="mailto:{{ author.email }}">{{ author.email }}</a>
			</div>
		</article>

		<aside class="sidebar">
			<dl class="card text-step--1">
				<dt>Status</dt>
				<dd><span class="availability" data-availability="unavailable">Niet beschikbaar</span></dd>
				<dt>Kamer van Koophandel</dt>
				<dd>60287306</dd>
				<dt>BTW-nummer</dt>
				<dd>NL002245952B44</dd>
			</dl>
		</aside>
	</div>
</div>
