---
layout: base.njk
---

<div class="home-intro wrapper">
	<h1 class="home-intro__title">Hoi, ik ben Mike.</h1>
	<picture class="home-intro__image">
		<source srcset="/img/mike.png" media="(min-width: 65rem)">
		<source srcset="/img/mike-small.jpg">
		<img src="/img/mike-small.jpg" alt="">
	</picture>
	<div class="home-intro__callout">Ik ben een front-end developer, gespecialiseerd in het maken van toegankelijke en gebruikersvriendelijke oplossingen voor het web.</div>
	<div class="home-intro__tagline">Met mijn werk help ik bedrijven om hun websites sneller, toegankelijker en klaar voor de toekomst te maken.</div>
</div>
