---
layout: base
pageClass: posts
bodyClass: single-post
---

<article class="h-entry">

  <header>
    <div class="c-post-meta">
      <h1 class="post-title p-name">{{ title }}</h1>
      <dl class="c-entry__meta">
        <dt class="u-hidden-visually">Geplaatst op</dt>
        <dd><time class="c-entry__date dt-published" datetime="{{ date | isoDate }}">{{ date | readableDate }}</time></dd>
        <dt class="u-hidden-visually">Tags</dt>
        <dd>
          <div class="c-entry__tags">
            {% for tag in tags %}
              {%- if (tag != "posts") and (tag != "links") -%}
                {% set tagUrl %}/tags/{{ tag }}/{% endset %}
                <a class="c-tag" href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
              {%- endif -%}
            {% endfor %}
          </div>
        </dd>
      </dl>
      <div hidden>
          <a class="u-url" href="{{ page.url | url | absoluteUrl(site.url) }}">{{ title }}</a>
          <p class="h-card p-author">
            <a class="p-name u-url" rel="author" href="{{ site.url }}">{{ author.name }}</a>
            <img class="u-photo" src="{{ author.avatar | url | absoluteUrl(site.url) }}" />
          </p>
      </div>
    </div>
  </header>

  <div class="post-content e-content">
    {{ content | safe }}
  </div>

</article>
